@import "@/color.scss";

.profile__information {
  width: 100%;
  margin: 0 0 8px 0;

  &-toolbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
  }

  &-body {
    margin-top: 16px;
  }
}
