@import "../../color.scss";

.top__bar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 12;
  width: 100%;
  height: 50px;
  padding: 8px 0px;
  background-color: $white_color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $color-gray-2;
  .left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 0px 32px;
  }

  .right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 32px;

    button {
      border-radius: 32px;
      text-align: left;
      font-size: 14px;
      font-weight: 500;
      font-family: $font_family_1;
    }
  }
  &-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
      width: 45px;
      height: 45px;
      border-radius: 8px;
    }
  }

  &-menu {
    .ant-menu {
      background-color: transparent !important;
      border-bottom: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .ant-menu-item {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: $text_color_1 !important;
        font-family: $font_family_1;

        &:hover {
          color: $text_color_3 !important;

          &::after {
            border-bottom-color: $text_color_3 !important;
          }
        }

        &::after {
          border-bottom: 2px solid transparent !important;
          transition: border-bottom-color 0.3s ease;
        }
      }

      .ant-menu-submenu {
        .ant-menu-submenu-title {
          text-align: center;
          font-size: 16px;
          font-weight: 600;
          color: $text_color_1 !important;
          font-family: $font_family_1;

          &:hover {
            color: $text_color_3 !important;
          }

          .anticon {
            color: $text_color_1 !important;
            font-size: 12px;
          }
        }

        &:hover {
          &::after {
            border-bottom-color: $text_color_3 !important;
          }
        }

        &::after {
          border-bottom: 2px solid transparent !important;
          transition: border-bottom-color 0.3s ease;
        }

        &-selected {
          .ant-menu-submenu-title {
            color: $text_color_3 !important;
          }

          &::after {
            border-bottom-color: $text_color_3 !important;
          }
        }

        &-open {
          .ant-menu-submenu-title {
            color: $text_color_3 !important;
          }

          &::after {
            border-bottom-color: $text_color_3 !important;
          }
        }
      }
    }
  }
}

// Drop down menu
.ant-menu-submenu-popup {
  .ant-menu {
    background-color: $background-color-1 !important;
    border-radius: 4px;
    box-shadow: 0 2px 8px $background-color-1;
    padding: 8px !important;
    gap: 8px !important;
    .ant-menu-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: left;
      font-size: 14px;
      font-weight: 500;
      color: $text_color_1 !important;
      font-family: $font_family_1;
      padding: 8px 16px;

      &:hover {
        color: $text_color_4 !important;
        background-color: $background-color-1 !important;

        &::after {
          border-bottom: none !important;
        }
      }

      &-selected {
        background-color: $background-color-1 !important;
        color: $text_color_1 !important;
      }

      &::after {
        border-bottom: none !important;
      }
    }
  }
}
