@import "../../../color.scss";

.home {
  width: 100%;
  overflow: visible;

  &__top {
    height: 67px;
    max-height: 67px;
  }

  &__body {
    width: 100%;
    margin-bottom: 52px;
  }

  &__footer {
    width: 100%;
  }
}
