@import "../../color.scss";

.home {
  &__card {
    width: 300px;
    height: 450px;
    border-radius: 24px;
    padding: 24px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 2px $background-color-1;

    position: relative;

    &-title {
      color: #ffffff;
      font-weight: 600;
      font-size: 22px;
      line-height: 1.5;
      font-family: $font_family_1;
      margin-bottom: 0px;
    }

    &-description {
      color: #ffffff;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
      font-family: $font_family_1;
      margin-bottom: 4px;
    }

    &-address {
      color: #ffffff;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
      font-family: $font_family_1;
      margin-top: 0px;
    }
  }
}
