@import "../../../color.scss";

.location {
  &__detail {
    display: flex;
    flex-direction: column;
    padding: 24px 10%;
    height: fit-content;

    &-row {
      &-1 {
        &-col {
          height: 450px;
          position: relative;
        }

        &-info {
          position: absolute;
          bottom: 16px;
          left: 50px;
        }

        .content {
          &-label {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.4;
            background-color: #e8d5a3;
            width: fit-content;
            height: fit-content;
            padding: 4px 18px;
            border-radius: 4px;
            font-family: $font_family_1 !important;
            img {
              width: 20px;
              height: 20px;
              object-fit: cover;
            }
          }

          &-name {
            margin-top: 8px;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.4;
            color: #ffffff;
            font-family: $font_family_1 !important;
          }
        }
      }
    }

    &-address {
      .address {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;
        color: #e8d5a3;
        font-family: $font_family_1 !important;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        span {
          font-style: 400;
          font-size: 12px;
        }
      }
    }
  }
}
