@import "./color.scss";

* {
  box-sizing: border-box;
  margin: 0px !important;
  color: $text_color_1;
  font-family: $font_family_1 !important;
}

.flx {
  &-r {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &-d {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  color: $text_color_1;
  font-family: $font_family_1 !important;
}
